<h3>Gallery</h3>

<label>Password: <input name="password" (input)="showSome($event)"></label>
<button
  (click)="showForm = !showForm"
  [disabled]="password !== '123'"
>Open form</button>

<br>
<br>

<form *ngIf="showForm" (submit)="addCard($event)">
  <label>Image title<input name="image" [(ngModel)]="title"></label>
  <label>Image URL<input name="URL" [(ngModel)]="url"></label>
  <button type="submit">Add image</button>
</form>

<hr>

<app-img-card
  *ngFor="let card of images"
  [title]="card.title"
  [url]="card.url"
>

</app-img-card>


