.ball__container{

}

.ball__container p {
  display: inline-block;
  border: 1px solid yellow;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: aquamarine;
  line-height: 80px;
  text-align: center;
}
