<button (click)="generateNumbers()">New numbers</button>
<div class="ball__container">
  <p>{{numbers[0]}}</p>
  <p>{{numbers[1]}}</p>
  <p>{{numbers[2]}}</p>
  <p>{{numbers[3]}}</p>
  <p>{{numbers[4]}}</p>
</div>





